<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/2profileem.css" />
    <title>User Profile</title>
</head>
<body>
    <div class="container-nav">
        <ul class="menu" id="navbar">
            <li><a href="0index.html">Home</a></li>
            <li><a href="2profileem.html">Profile</a></li>
            <li><a href="3listeq.html">List Equipment</a></li>
            <li><a href="4borroweq.html">Borrow Equipment</a></li>
            <li><a href="5returneq.html">Return Equipment</a></li>
        </ul>

        <div class="profile-container">

            <h2>User Profile</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="user-info">
                <label for="id_mem">ID Employee : <q id="id_mem"></q></label>
                <br>

                <label for="fname">Firstname : <q id="fname"></q></label>
                <br>

                <label for="lname">Lastname : <q id="lname"></q></label>
                <br>

                <label for="department">Department : <q id="department"></q></label>
                <br>

                <label for="email">E-mail : <q id="email"></q></label>
                <br>

                <label for="phone">Phone : <q id="phone"></q></label>
                <br>
            </div>
        </div>
    </div>

    <script src="/js/2profileemsp.js"></script>
</body>
</html>