<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/2profileem.css" />
    <title>User Profile</title>

</head>
<body>
    <div class="container-nav">
        <!-- เมนูบาร์ -->
        <ul class="menu" id="navbar">
            <li><a href="views/0index.html">Home</a></li>
            <li><a href="views/2profileem.html">Profile</a></li>
            <li><a href="views/3listeq.html">List Equipment</a></li>
            <li><a href="views/4borroweq.html">Borrow Equipment</a></li>
            <li><a href="views/5returneq.html">Return Equipment</a></li>
        </ul>
        <div class="profile-container">
            <div class="user-avatar">
                <img src="path/to/avatar.jpg" alt="User Avatar">
            </div>

            <h2>User Profile</h2>

            <div class="user-info">
                <label for="id">ID Employee</label>
                <p id="id">Test</p><br>

                <label for="fname">Firstname</label>
                <p id="fname">Test</p><br>

                <label for="lname">Lastname</label>
                <p id="lname">Test</p><br>

                <label for="department">Department</label>
                <p id="department">Test</p><br>

                <label for="email">E-mail</label>
                <p id="email">test@example.com</p><br>

                <label for="phone">Phone</label>
                <p id="phone">Test</p><br>
                

            </div>

            <button class="logout-btn" onclick="logout()">Logout</button>
        </div>
    </div>
    <script>
        function logout() {
            // เพิ่มโค้ดที่ต้องการในการดำเนินการ Logout ที่นี่
            alert("Logout successful!");
        }
    </script>

</body>
</html>
