<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/3listeq.css" />
    <title>Request Return Tool</title>

</head>
<body>
    <div class="container-nav">
        <!-- เมนูบาร์ -->
        <ul class="menu" id="navbar">
            <li><a href="views/0index.html">Home</a></li>
            <li><a href="views/2profileem.html">Profile</a></li>
            <li><a href="views/3listeq.html">List Equipment</a></li>
            <li><a href="views/4borroweq.html">Borrow Equipment</a></li>
            <li><a href="views/5returneq.html">Return Equipment</a></li>
        </ul>
        <div class="table-list-equipment">

        </div>
    </div>

</body>
</html>
